* {
    margin: 20px;
    padding: 10px;
    scroll-behavior: auto;
    font-family: 'Solitreo', cursive;

}

body {
    background-image: url("images/contact_page_background.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw;
    color: #0000fe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-clip: padding-box;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 5px 0px 0px white;
}

h1:hover {
    transform: translate(-20px, -20px) skew(-5deg, -5deg) scale(1.5);
    transition: transform 0.1s 0.25s ease;
}

.icons {
    height: 50px;
    width: 50px;
}

/*.icons:hover {
    transition: transform 0.25s ease-out;
    transform: scale(1.5);
}*/

.list {
    font-size: 30px;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}


li {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

li:hover {
    font-size: 125%;
    font-stretch: expanded;
    transition-duration: 0.5s;
}


a {
    color: #0000fe;
    background-color: transparent;
    text-decoration: wavy;
}


.audio {
    position: fixed;
    top: 100px;
    right: 10px;
    z-index: 1000;
    opacity: 30%;
}

audio {
    width: 225px;
}