* {
    margin: 20px;
    padding: 10px;
    scroll-behavior: auto;
    font-family: 'Solitreo', cursive;

}

body {
    background-image: url("images/contact_page_background.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw;
    color: #0000fe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-clip: padding-box;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
}

h1:hover {
    transition: transform 0.25s ease-out;
    transform: rotate(-5deg) scale(1.5);
    text-shadow: 0 0 20px white;
}

.icons {
    height: 50px;
    width: 50px;
}

.icons:hover {
    transition: transform 0.25s ease-out;
    transform: scale(1.5);
}

.list {
    font-size: 30px;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

#icon1 {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

#icon2 {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

#icon3 {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

#icon4 {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

#icon5 {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

a {
    color: #0000fe;
    background-color: transparent;
    text-decoration: wavy;
}

#icon1:hover {
    font-size: 125%;
    font-stretch: expanded;
    transition-duration: 0.5s;
}

#icon2:hover {
    font-size: 125%;
    font-stretch: expanded;
    transition-duration: 0.5s;
}

a:hover {
    font-size: 125%;
    font-stretch: expanded;
    transition-duration: 0.5s;
}

audio {
    display: none;
}